/* Timeline Section */
.resume_timeline .timeline_title{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: darkslategray !important;

}

.resume_timeline .timeline_title > span{
    font-size: 14px !important;
    font-weight: 600 !important;
}

.resume_timeline .cert_title{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: darkslategray !important; 
}

.resume_timeline .cert_title > a{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: darkslategray !important;
    text-decoration: none !important; 
}

.resume_timeline .cert_title > a > span{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: darkslategray !important;
    text-decoration: none !important; 
}

.resume_timeline .cert_title > span{
    font-size: 14px !important;
    font-weight: 500 !important;
    color: darkslategray !important;
    text-decoration: none !important; 
}

.resume_timeline .cert_title > a:hover{
    font-weight: 500px !important;
    color: var(--main-color) !important;
}

.resume_timeline .timeline_date{
    font-size: small;
}

.resume_timeline .timeline_description{
    color: grey;
    font-size: small;
    margin-top: 6px;
    white-space: pre-wrap;
}

.resume_timeline .cert_image{
    max-width: 100px;
    max-height: 100px;
}

.resume_timeline .cert_image_container{
    margin-left: 20px;
}

.publication_image{
    max-width: 150px;
    max-height: 150px;
}

.publication_image_container{
    
    text-align: center !important;
}

.publication_container > a:hover{
    box-shadow: 10px 10px 5px #000000 !important;
    -moz-box-shadow: 0px 10px 5px #000000 !important;
  -webkit-box-shadow: 0px 10px 5px #000000 !important; 
}